@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');


.container-extrato {
    width: 100%;
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container-extrato ul {
    /* border: solid 1px black; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-item {
    display: flex;
    width: 100%;
    border-bottom: solid 1px #E0E0E0;
}

.container-editar-item {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.container-editar-item button:hover {
    transform: scale(1.2);
}

.container-editar-item button {
    width: 3rem;
}

.container-descricao-itens {
    height: 4rem;
    background-color: #fafafa;
    border-radius: 1rem;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    font-family: 'Lato', sans-serif;
    font-weight: 700;

    /* border: solid 1px black; */
}

.container-descricao-itens ul {
    height: 100%;
    width: 100%;
}

.container-descricao-itens li {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-item li {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-itens-extrato {
    height: 4rem;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.container-itens-extrato ul {
    /* border: solid 1px black; */
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: small;
}

.container-itens-extrato ul :last-child {
    justify-content: end;
}

/* .modal-deletar-item {
    border-radius: 0.5rem;
    font-size: small;
    width: 15rem;
    height: 5rem;
    display: flex;
    flex-direction: column;

}

.txt-deletar-item {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-btn-sim-nao {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
}

.btn-del-sim {
    color: #3A9FF1;
}

.btn-del-nao {
    color: #FF576B;
} */