.container-extrato {
    width: 100%;
    border: solid 1px red;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container-extrato ul {
    /* border: solid 1px black; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-item {
    display: flex;
    width: 100%;
}

.container-editar-item {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-editar-item button {
    width: 6rem;
}

.container-descricao-itens {
    height: 4rem;
    background-color: lightgray;
    /* border: solid 1px black; */
}

.container-descricao-itens ul {
    height: 100%;
    width: 80%;
}

.container-descricao-itens li {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-item li {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-itens-extrato {
    height: 4rem;
    width: 80%;
}

.container-itens-extrato ul {
    /* border: solid 1px black; */
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: small;
}