.container-filtros {
    height: 15rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    background-color: #FAFAFA;
    border-radius: 1rem;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
}

.cada-filtro {
    border-radius: 5rem;
    width: 9rem;
    height: 3rem;
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-filtros {
    background-color: black;
    color: white;
}

.btn-filtros:hover {
    background-color: red;
}

.btn-cada-filtro:hover {
    transform: scale(1.1);
}

.btn-cada-filtro:checked {
    background-color: blue;
}

.active {
    background-color: aquamarine;
}