.container-filtros {
    min-height: 10rem;
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    flex-flow: wrap;
    margin-bottom: 2rem;
    background-color: #FAFAFA;
    border-radius: 1rem;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
}

.container-filtros button {
    cursor: pointer;
}

.cada-filtro {
    border-radius: 5rem;
    min-width: 10rem;
    height: 3rem;
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-filtros {
    background-color: #7978D9;
    color: white;
}

.btn-filtros:hover {
    opacity: 0.9;
}

.btn-cada-filtro:hover {
    transform: scale(1.1);
}

.btn-cada-filtro:checked {
    background-color: blue;
}

.active {
    background-color: aquamarine;
}