/* .container-lado-direito {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
} */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap');

.container-resumo {
    height: 30rem;
    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: 'Rubik', sans-serif;
}

.container-resumo div:nth-child(3) {
    margin-bottom: 3rem;
    border-bottom: 1px solid #EAEAEA;
}

.container-resumo h3 {
    margin-bottom: 3rem;
    font-weight: 700;
}

.resumo-entradas {
    display: flex;
    gap: 8rem;
    width: 100%;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    font-weight: 500;
}

.resumo-entradas-color {
    color: #645FFB;
}

.resumo-saidas-color {
    color: #FA8C10;
}

.resumo-saldo-color {
    color: #3A9FF1;
}

.container-btn-add-registro button {
    all: unset;
    background: #7978D9;
    border-radius: 5px;
    width: 100%;
    height: 4rem;
    text-align: center;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.container-btn-add-registro button:hover {
    transform: scale(1.05);
}

/* .modal-add-registro {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;

}

.container-add-registro {
    width: 32rem;
    height: 32rem;
    border: solid 1px green;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: absolute;
    top: 17rem;
    right: 9rem;
    gap: 2rem;
}

.form-add-registro {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-add-registro input {
    all: unset;
    border: solid 1px black;
    height: 3rem;
    width: 20rem;
}

.opcao-entrada-saida {
    width: 20rem;
    height: 3rem;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcao-entrada-saida button {
    all: unset;
    width: 50%;
    text-align: center;
    border: solid 1px black;
    height: 100%;
}

.btn-entrada:hover {
    background-color: blue;
    color: white;
}

.btn-saida:hover {
    background-color: red;
    color: white;
}

.btn-fechar-modal {
    all: unset;
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 2rem;
    right: 2rem;
    font-weight: bold;
    text-align: center;
}

.btn-fechar-modal:hover {
    border: solid 1px black;
    border-radius: 100%;
} */