.container-editar-registro {
    position: absolute;
    background-color: rgba(121, 120, 217, 0.95);
    border-radius: 0.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.container-editar-item-registro {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.container-editar-item-registro form {
    display: flex;
    width: 100%;
    height: 100%;
}

.container-editar-item-registro input {
    all: unset;
    text-align: center;
    width: 100%;
}

.btn-confirmar-editar-registro {
    font-size: smaller;
    cursor: pointer;
    margin: 0.5rem;
    border: solid 1px white;
    border-radius: 0.5rem;
    padding: 0.25rem
}

.btn-cancelar-editar-registo {
    font-size: smaller;
    cursor: pointer;
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.25rem;
    border: solid 1px white;

}

.container-form-editar-registro ul {
    display: flex;
}

/* .container-form-editar-registro li {
} */