.container-modal-deletar {
    display: flex;
    height: 4rem;
    align-items: center;
}

.txt-modal {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-btn-sim-nao {
    height: 3rem;
    display: flex;
}

.container-btn-sim-nao button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
}

.btn-deletar-sim {
    color: darkblue !important;
}

.btn-deletar-nao {
    color: rgb(216, 112, 112) !important;
}