.container-geral {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

ul,
li {
    all: unset;
}

.container-dashboard {
    height: calc(100vh - 12rem);
    background-color: white;
    border-radius: 6rem 6rem 0rem 0rem;
    padding: 5rem 5rem 0;
    display: flex;
    gap: 3rem;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 15rem;
}

.container-lado-esquerdo {
    width: 70%;
}

.container-lado-direito {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.btn-exibir-filtro {
    all: unset;
    width: 10rem;
    background-color: #fafafa;
    text-align: center;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 3rem;

}

.btn-exibir-filtro:hover {
    background-color: #7978D9;
    color: white;
}