.modal-add-registro {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-add-registro {
    width: 30rem;
    height: 50rem;
    background-color: white;
    padding: 2rem;
}

.form-add-registro {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
}

.form-add-registro input {
    all: unset;
    width: 100%;
    height: 3rem;
    border: solid 1px rgba(0, 0, 0, 0.5);
    margin-top: 0.5rem;
}

.container-itens-registro {
    height: 6rem;
}

.container-itens-registro button {
    all: unset;
    height: 100%;

}

/* .react-datepicker__input-container {
    margin: 0;
} */

.titulo-btn-fechar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.btn-enviar-add-registro {
    margin-top: 5rem;
    width: 100%;
    height: 5rem;
    background-color: red;
    color: white;
}

.btn-enviar-add-registro button {
    all: unset;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-enviar-add-registro:hover {
    background-color: rgb(255, 0, 0, 0.5);
}

.btn-entrada-saida input[type='radio'] {
    opacity: 0;
    position: fixed;
    width: 100%;
}

.btn-entrada-saida label {
    display: inline-block;
    padding: 1rem 2rem;
    border: solid black 1px;
    width: 50%;
    text-align: center;
}

.btn-entrada-saida input[type='radio']:first-child:checked+label {
    background-color: rgba(0, 0, 255, 0.8);
    color: white;
}

.btn-entrada-saida input[type='radio']:nth-child(3):checked+label {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
}