.container-geral {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem;
}

.btn-sign-up {
    all: unset;
    width: 12rem;
    border: solid 1px black;
    height: 3rem;
    text-align: center;
}

.btn-sign-up:hover {
    background-color: black;
    color: white;
}

.container-main {
    width: 80%;
    display: flex;
    border: solid 1px black;
}

.container-form {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 50rem;
    padding: 2rem;
}

.container-form h1 {
    margin-bottom: 10rem;
}

.container-form input {
    width: 80%;
    height: 3rem;
    margin: 0.5rem;
    border: solid 1px black;
    padding: 0 1rem;
}

.container-form input:last-of-type {
    margin-bottom: 5rem;
}

.container-form button {
    all: unset;
    width: 12rem;
    border: solid 1px black;
    height: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.container-form button:hover {
    background-color: black;
    color: white;
}

.container-form span {
    font-size: small;
}

.signup {
    background-color: white;
    padding: 4rem 0rem;
    width: 30rem;
    border: none;
}

.signup button {
    background-color: #7978D9;
    color: white;
    width: 80%;
    border-radius: 0.5rem;
    border: none;
}

.signup input {
    border: solid 1px rgb(85, 85, 85, 0.5);
}

.signup span {
    font-weight: 700;
    color: #7978D9;
}